# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
.vscode/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
public/networkData/graph_20000.json



# Created by https://www.toptal.com/developers/gitignore/api/jupyternotebooks,venv
# Edit at https://www.toptal.com/developers/gitignore?templates=jupyternotebooks,venv

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
[Ee]tc
[Ss]hare
pyvenv.cfg
.venv
.venv3.10
venv3.10/
pip-selfcheck.json

# End of https://www.toptal.com/developers/gitignore/api/jupyternotebooks,venv
# *.gff3
# *.gtf
# *.hdf5
# *.pdb
# *.xyz
# *.bed
data_processing_python/data/GSE248049/annotation_files/Chlorocebus_sabaeus_genome.gff
data_processing_python/data/GSE248049/ata-sec
/data_processing_python/data/GSE248049/HiC_files
data_processing_python/data/green_monkey/annotation/Chlorocebus_sabaeus_genome.gff
/data_processing_python/data/green_monkey/hic_files
data_processing_python/data/green_monkey/hic_csv_files/12hrs_untr.csv
data_processing_python/data/green_monkey/hic_csv_files/12hrs_vacb.csv
data_processing_python/data/green_monkey/hic_csv_files/18hrs_untr.csv
data_processing_python/data/green_monkey/hic_csv_files/18hrs_vacv.csv
data_processing_python/data/green_monkey/hic_csv_files/24hrs_untr.csv
data_processing_python/data/green_monkey/hic_csv_files/24hrs_vacv.csv
data_processing_python/.python-version
