@import "tailwindcss";
/* Tailwind @apply to make a reusable class */
.dropdown-select {
  @apply rounded-lg border border-gray-700 bg-gray-900 text-gray-100 text-sm px-3 py-2 
         focus:outline-none focus:ring-2 focus:ring-blue-500;
}
.contour-back {
  fill: none;
  stroke: red;
  stroke-opacity: 0.55;
  stroke-width: 3;
  vector-effect: non-scaling-stroke;
}
.contour {
  fill: none;
  stroke: var(--contour);
  stroke-width: 2.5;
  vector-effect: non-scaling-stroke;
}
